---
import Base from '../layouts/Base.astro';
import Towers from '../components/Towers.astro';
import Foundation from '../components/Foundation.astro';
import Brand from '../components/Brand.astro';
---

<Base>
  <a class="skip" href="#towers">Skip to the pillars</a>

  <div class="app is-intro" id="app">
    <Towers />
    <Foundation />
    <Brand />
  </div>

  <script>
    import '../scripts/stage';
    import '../scripts/metal';
    import '../scripts/live';
  </script>
</Base>
